html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* HEADER */

.header {
  background-color: #f4f7f9;
}

/* ВЕРХНЯЯ ЧАСТЬ ХЕДЕРА */

.header-bar {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

/* ПОЛЕ ПОИСКА */
.search-form input {
  line-height: inherit;

  border: none;

  background-color: transparent;
}

.search-form input::placeholder {
  color: #ffffff;
}

.search-form input:hover {
  background-color: #212a3a;
}

.search-form input:focus {
  background-color: #ffffff;
}

/* ЗАКЛАДКИ-КОРЗИНА-ОФОРМЛЕНИЕ ЗАКАЗА */
.header-bar__nav-list {
  list-style: none;
}

.header-bar__nav-item:hover {
  background-color: #212a3a;
}

.header-bar__nav-item:active {
  background-color: #161d29;
}

.header-bar__nav-item a {
  color: inherit;
}

.header-bar__nav-item a:active {
  opacity: 0.6;
}

.header-bar__nav-item_green {
  background-color: #63a63e;
}

.header-bar__nav-item_green:hover {
  background-color: #5fbb2d;
}

.header-bar__nav-item_green:active {
  background-color: #518534;
}

.header-bar__nav-item_green a:active {
  opacity: 0.5;
}

/* НИЖНЯЯ ЧАСТЬ ХЕДЕРА */

/* ЗАГОЛОВОК */
.header-title {
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

/* КОНТАКТЫ */
.header-contacts {
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.header-contacts a {
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  color: #ee3643;

  border: solid 3px #ffffff;
}

/* USER */

.user-nav__list {
  font-size: 21px;
  line-height: 21px;

  list-style: none;
}

.user-nav__item {
  background-color: #ffffff;
}

.user-nav__item a {
  color: inherit;
}

.user-nav__item a:hover {
  color: #ee3643;
}

.user-nav__item a:active {
  color: rgba(50, 66, 92, 0.3);
}

.user-nav__item_small {
  background-color: transparent;
}

.user-nav__item_small a {
  font-size: 16px;
  line-height: normal;
  text-decoration: underline;
  color: #32425c;
}

/* МЕНЮ */

.header-nav__list {
  font-size: 17px;
  line-height: 17px;

  list-style: none;
}

.header-nav__item {
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.header-nav__item:hover {
  background-color: #293449;
}

.header-nav__item:active {
  background-color: #1d2739;
  box-shadow: none;
}

.header-nav__item a {
  color: #ffffff;
}

.header-nav__item a:active {
  opacity: 0.5;
}

/* */

.section__row {
  background-color: #f9f5f0;
}

.section__heading {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
}

.section__heading_row {
  color: #32425c;
}

.section__text {
  font-family: PTSans;
  font-size: 13px;
  line-height: 24px;
}


/* */
.button {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.button_red {
  background-color: #ee3643;
}

.button_red:hover {
  background-color: #ca2c37;
}

.button_red:active {
  background-color: #ba2732;
}

.button_buy {
  background-color: #63a63e;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.button_buy:hover {
  background-color: #5fbb2d;
}

.button_buy:active {
  background-color: #518534;

  box-shadow: none;
}

.button_bookmark {
  color: #32425c;

  background-color: #ffffff;
  border: solid 3px #63a63e;
}

.button_bookmark:hover {
  border: solid 3px #32425c;
}

.button_bookmark:active {
  opacity: 0.3;
}

.button_catalog {
  color: inherit;

  border: solid 1px #e5e5e5;
}

.button_catalog:hover {
  border: solid 1px #bdc6ca;
}

.button_catalog:active {
  border: solid 1px #ee3643;
}


/* */
.manufacturer-list {
  list-style: none;
}

.manufacturer-item {
  border: solid 1px #e5e5e5;
}

.manufacturer-item:hover {
  border: none;
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturer-item:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

/* */
.section_palegray {
  background-color: #f4f7f9;
}


/* */
.delivery-list {
  font-size: 18px;
  line-height: 20px;

  list-style: none;
}

.delivery-item:before {
  content: "";

  display: inline-block;
  vertical-align: middle;

  width: 25px;
  height: 2px;

  background-color: #ee3643;

}

/* */
.catalog-page {
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-page__row {
  background-color: #f2f6f8;
}

/* */
.catalog-nav__list {
  list-style: none;
}

.catalog-nav__item a {
  color: inherit;
}

.page-nav__list {
  list-style: none;
}



/* */

.catalog-list {
  font-family: 'PTSans', Arial, sans-serif;

  list-style: none;
}

.catalog-item {
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.catalog-item:hover {
  border: none;
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item__heading {
  font-size: 18px;
  line-height: 20;
  text-transform: none;
  text-align: center;
}

.catalog-item__price_del {
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  color: #999999;
}

.catalog-item__price {
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  color: #ffffff;

  background-image: url(../img/item-button.svg);
  background-repeat: no-repeat;
  background-position: center;
}


/* */
.filter__heading {
  font-size: inherit;
  font-weight: normal;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
}

.filter__list {
  font-size: 15px;
  line-height: 20px;

  list-style: none;
}

/* */
.footer {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;

  background-color: #32425c;
}

.footer-contacts {
  font-style: normal;
}

.footer-contacts a {
  color: inherit;
}

.footer-nav__list {
  list-style: none;
}

.footer-nav__list_wheat {
  color: #ffd180;
}

.footer-nav__item a {
  color: inherit;
}

.footer-nav__item a:hover {
  text-decoration: underline;
}

.footer-nav__item a:active {
  opacity: 0.5;
}

/* */
.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.copyright-contacts {
  font-style: normal;
}

.copyright-contacts a {
  color: #ffd180;
}

.copyright-contacts a:hover {
  text-decoration: underline;
}

.copyright-contacts a:active {
  text-decoration: none;
  color: #ee3643;
}

.footer-social__list {
  font-size: 0px;

  list-style: none;
}

.footer-social__item a {
  display: block;

  width: 42px;
  min-height: 42px;

  background-color: #212a3a;

  border-radius: 50%;
}

.footer-social__item a:hover,
.footer-social__item a:active {
  background-color: #ee3643;
}

.footer-social__item_vk a {
  background-image: url(../img/vk-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social__item_fb a {
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social__item_insta a {
  background-image: url(../img/insta-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}
