html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.fixed-container {
  width: 940px;

  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

/* КНОПКИ */
.button {
  display: block;

  min-height: 38px;

  padding-bottom: 10px;
  padding-top: 10px;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  border-radius: 3px;
}

.button_red {
  background-color: #ee3643;
}

.button_red:hover {
  background-color: #ca2c37;
}

.button_red:active {
  background-color: #ba2732;
}

.button_buy {
  width: 135px;

  background-color: #63a63e;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.button_buy:hover {
  background-color: #5fbb2d;
}

.button_buy:active {
  background-color: #518534;

  box-shadow: none;
}

.button_bookmark {
  width: 135px;

  padding-bottom: 7px;
  padding-top: 7px;

  color: #32425c;

  background-color: #ffffff;
  border: solid 3px #63a63e;
}

.button_bookmark:hover {
  border: solid 3px #32425c;
}

.button_bookmark:active {
  opacity: 0.3;
}

.button_catalog {
  color: inherit;

  border: solid 1px #e5e5e5;
}

.button_catalog:hover {
  border: solid 1px #bdc6ca;
}

.button_catalog:active {
  border: solid 1px #ee3643;
}

.button_promo {
  width: 135px;
  background-color: rgba(0, 0, 0, 0.1);
}

.button_promo:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.button_promo:active {
  background-color: rgba(0, 0, 0, 0.3);
}


/* HEADER */

.header {
  padding-bottom: 60px;

  background-color: #f4f7f9;
}

/* ВЕРХНЯЯ ЧАСТЬ ХЕДЕРА */

.header-bar {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  margin-bottom: 46px;

  background-color: #293449;
}

.header-bar .flex-container {
  align-items: center;

  min-height: 42px;
}

.header-bar__logo {
  width: 220px;
  height: 42px;

  padding-top: 13px;
}

.logo {
  text-align: center;

  box-shadow: 0px 5px 0 0 #b62a2d;
  background-color: #ee3643;
}

.logo:hover {
  background-color: #ca2c37;
  box-shadow: 0px 5px 0 0 #9b2022;
}

.logo:active {
  background-color: #ba2732;
  box-shadow: 0px 5px 0 0 #8e1a23;
}

/* ПОЛЕ ПОИСКА */
.search-form input {
  width: 270px;
  height: 42px;

  line-height: inherit;

  border: none;

  background-color: transparent;
}

.search-form input::placeholder {
  color: #ffffff;
}

.search-form input:hover {
  background-color: #212a3a;
}

.search-form input:focus {
  background-color: #ffffff;
}

/* НИЖНЯЯ ЧАСТЬ ХЕДЕРА */

/* ЗАГОЛОВОК */
.header-title {
  width: 197px;

  margin: 0;
  margin-left: 53px;

  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

/* КОНТАКТЫ */
.header-contacts {
  width: 270px;

  margin-left: 70px;

  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.header-contacts a {
  display: block;
  width: 100%;

  font-size: 21px;
  line-height: 39px;
  text-align: center;
  color: #ee3643;

  border: solid 3px #ffffff;
}

/* СЕКЦИИ И ИХ ЧАСТИ */

.section_palegray {
  background-color: #f4f7f9;
}

.section__row {
  background-color: #f9f5f0;
}

.section__heading {
  margin-top: 0;
  margin-bottom: 39px;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
}

.section__heading_row {
  color: #32425c;
}

.section__text {
  margin-top: 36px;
  margin-bottom: 0;

  font-family: PTSans;
  font-size: 13px;
  line-height: 24px;
}

.company {
  width: 520px;
  padding-top: 82px;
  padding-bottom: 86px;
}

.company p:nth-of-type(2) {
  width: 386px;
}

.company .button{
  width: 220px;

  margin-top: 37px;
}

.contacts {
  width: 300px;
  padding-top: 82px;

  margin-left: auto;
}

.contacts img{
  margin-top: 36px;
}

.contacts p {
  width: 179px;
}

.contacts .button{
  margin-top: 40px;
}

/* СТАНИЦА КАТАЛОГА */
.catalog-page {
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-page__row {
  background-color: #f2f6f8;
}

.filter__heading {
  font-size: inherit;
  font-weight: normal;
}

.filter fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filter legend {
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
}

/* ФУТЕР */
.footer {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;

  background-color: #32425c;
}

.footer__logo {
  width: 220px;
  height: 63px;

  margin-right: auto;
  padding-top: 20px;
}

.footer__contacts {
  width: 325px;

  margin-top: 30px;

  font-style: normal;
}

.footer__contacts a {
  color: inherit;
}

/* НИЗ ФУТЕРА */
.footer__bottom {
  margin-top: 50px;

  padding-top: 35px;
  padding-bottom: 28px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.footer__copyright {
  width: 228px;

  margin-bottom: 0;
  margin-top: 0;
}

.copyright-contacts_mail {
  width: 135px;

  margin-left: auto;
  margin-right: 50px;
  margin-bottom: 0;
  margin-top: 0;
}

.copyright-contacts_dev {
  width: 96px;

  margin-right: 15px;
  margin-bottom: 0;
  margin-top: 0;
}

.copyright-contacts a {
  color: #ffd180;
}

.copyright-contacts a:hover {
  text-decoration: underline;
}

.copyright-contacts a:active {
  text-decoration: none;
  color: #ee3643;
}

/* СПИСКИ */
.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* ЗАКЛАДКИ-КОРЗИНА-ОФОРМЛЕНИЕ ЗАКАЗА */
.header-bar__nav-list {
  display: flex;

  width: 450px;

  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.header-bar__nav-item {
  flex-grow: 1;

  text-align: center;
  line-height: 42px;
}


.header-bar__nav-item:hover {
  background-color: #212a3a;
}

.header-bar__nav-item:active {
  background-color: #161d29;
}

.header-bar__nav-item a {
  color: inherit;
}

.header-bar__nav-item a:active {
  opacity: 0.6;
}

.header-bar__nav-item_green {
  background-color: #63a63e;
}

.header-bar__nav-item_green:hover {
  background-color: #5fbb2d;
}

.header-bar__nav-item_green:active {
  background-color: #518534;
}

.header-bar__nav-item_green a:active {
  opacity: 0.5;
}

/* НАВИГАЦИЯ ПОЛЬЗОВАТЕЛЯ */

.user-nav__list {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;

  width: 300px;

  margin: 0;
  margin-left: auto;
  padding: 0;

  font-size: 21px;
  line-height: 21px;

  list-style: none;
}

.user-nav__item {
  line-height: 45px;

  background-color: #ffffff;
}

.user-nav__item a {
  color: inherit;
}

.user-nav__item a:hover {
  color: #ee3643;
}

.user-nav__item a:active {
  color: rgba(50, 66, 92, 0.3);
}

.user-nav__item_small {
  line-height: normal;

  background-color: transparent;
}

.user-nav__item_small a {
  font-size: 16px;
  line-height: normal;
  text-decoration: underline;
  color: #32425c;
}

.user-nav__item_enter {
  width: 121px;
}

.user-nav__item_reg {
  width: 150px;

  margin-left: 10px;

  text-align: center;
}

.user-nav__item_user {
  width: 300px;
}

/* МЕНЮ */

.header-nav__list {
  display: flex;

  margin: 0;
  margin-top: 44px;
  padding: 0;

  font-size: 17px;
  line-height: 60px;

  list-style: none;
}

.header-nav__item {
  flex-grow: 1;

  text-align: center;

  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.header-nav__item:hover {
  background-color: #293449;
}

.header-nav__item:active {
  background-color: #1d2739;
  box-shadow: none;
}

.header-nav__item a {
  color: #ffffff;
}

.header-nav__item a:active {
  opacity: 0.5;
}

/* ПРОМО НА ГЛАВНОЙ */
.promo-list {
  color: #ffffff;
}

.promo-item h3 {
  font-size: 24px;
  line-height: 30px;
}

.promo-item_materials {
  background-color: #ffbf47;
}

.promo-item_tool {
  background-color: #3bbce3;
}

.promo-item_equipment {
  background-color: #dc91d8;
}

.promo-item_discount {
  background-color: #8ed78f;
}

.promo-item_delivery {
  background-color: #ffc047;
}

/* */

.promo-item_slider {
  background-color: darkslategrey;
}

.slider__slide h3 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider__slide p {
  font-size: 18px;
  line-height: 24px;
}

/* ПОПУЛЯРНЫЕ ПРОИЗВОДИТЕЛИ */
.manufacturer-item {
  border: solid 1px #e5e5e5;
}

.manufacturer-item:hover {
  border: none;
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturer-item:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

/* ДОСТАВКА */
.delivery-list {
  font-size: 18px;
  line-height: 20px;
}

.delivery-item {
  margin-top: 23px;
}

.delivery-item:before {
  content: "";

  display: inline-block;
  vertical-align: middle;

  width: 25px;
  height: 2px;
  margin-right: 11px;

  background-color: #ee3643;

}

/* */
.tabs__controls {
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;
}

.tabs__control {
  background-color: #32425c;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
}

.tabs__contents h3 {
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  color: #32425c;
}

.tabs__control:hover {
  background-color: #293449;
}

#tab-1:checked ~ .tabs__controls > .tabs__control:nth-of-type(1) {
  color: #32425c;

  box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
  background-color: #ffffff;
}

#tab-1:not(:checked) ~ .tabs__contents > .tab-1 {
  display: none;
}

#tab-2:checked ~ .tabs__controls > .tabs__control:nth-of-type(2) {
  color: #32425c;

  box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
  background-color: #ffffff;
}

#tab-2:not(:checked) ~ .tabs__contents > .tab-2 {
  display: none;
}

#tab-3:checked ~ .tabs__controls > .tabs__control:nth-of-type(3) {
  color: #32425c;

  box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
  background-color: #ffffff;
}

#tab-3:not(:checked) ~ .tabs__contents > .tab-3 {
  display: none;
}


/* НАВИГАЦИЯ В КАТАЛОГЕ */
.catalog-nav__item a {
  color: inherit;
}

/* КАТАЛОГ ТОВАРОВ*/
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  font-family: 'PTSans', Arial, sans-serif;
}

.catalog-item {
  width: 220px;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.catalog-item:hover {
  border: none;
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item__heading {
  font-size: 18px;
  line-height: 20;
  text-transform: none;
  text-align: center;
}

.catalog-item__price {
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  color: #ffffff;

  background-image: url(../img/item-button.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-item__price_del {
  color: #999999;

  background-image: none;
}

/* ФИЛЬТРЫ КАТАЛОГА */
.filter__list {
  font-size: 15px;
  line-height: 20px;
}

/* СОЦ.СЕТИ ФУТЕР */
.footer-social__list {
  display: flex;

  margin-left: 160px;

  font-size: 0px;
}

.footer-social__item {
  margin-right: 3px;
}

.footer-social__item:last-of-type {
  margin-right: 0;
}

.footer-social__item a {
  display: block;

  width: 42px;
  min-height: 42px;

  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 50%;
}

.footer-social__item a:hover,
.footer-social__item a:active {
  background-color: #ee3643;
}

.footer-social__item_vk a {
  background-image: url(../img/vk-icon.svg);
}

.footer-social__item_fb a {
  background-image: url(../img/fb-icon.svg);
}

.footer-social__item_insta a {
  background-image: url(../img/insta-icon.svg);
}

/* НАВИГАЦИЯ ФУТЕР */
.footer-nav__list {
  display: flex;
  align-items: center;

  margin-left: auto;

  line-height:
}

.footer-nav__item {
  margin-left: 60px;
}

.footer-nav__list_wheat {
  color: #ffd180;
}

.footer-nav__item a {
  color: inherit;
}

.footer-nav__item a:hover {
  text-decoration: underline;
}

.footer-nav__item a:active {
  opacity: 0.5;
}
